.retroButton {
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 700;
    box-shadow: 6px 6px black;
    padding: 4px;
    text-align: center;
    min-width: 100px;
    border: none;
    min-height: 35px;
    font-size: 1vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 640px) {
    .retroButton {
        font-family: 'Lexend Mega', sans-serif;
        font-weight: 700;
        font-size: 2.8vw;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .retroButton {
        font-family: 'Lexend Mega', sans-serif;
        font-weight: 700;
        font-size: 1.5vw;
    }
}

.retroButton[type="submit"] {
    width: 100%;
}

.retroButton.white {
    background-color: white;
}

.retroButton.blue {
    background-color: #69d2e7
}

.retroButton.green {
    background-color: #8cef23;
}

.retroButton.yellow {
    background-color: #ff6b6b;
}

.retroButton:hover {
    background-color: #e3dff2
}
