.retroButton {
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 700;
    box-shadow: 6px 6px black;
    padding: 6px;
    text-align: center;
    min-width: 100px;
    border: none;
    min-height: 35px;
    width: 80%;
    font-size: 16px;
}

.retroButton[type="submit"] {
    width: 100%;
}

.retroButton.white {
    color: black;  
    background-color: white;
}

.retroButton.blue {
    color: black;
    background-color: #69d2e7
}

.retroButton.green {
    color: black;
    background-color: #8cef23;
}