.searchBarStyle {
    width: 20rem;
    height: 25px;
    font-family: 'Maven Pro', sans-serif;
    background-color: transparent;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 16px;
    color: black;
    padding: 5px;
}
