.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-left: 0.5em;
    justify-content: space-between;
    background-color: rgb(192, 45, 26);
    color: #fff;
    padding-right: 0.5em;
    margin: 0;
  }

.text-config {
  text-align:center;
}

.button-configuration {
  padding: 4px;
  background-color: rgb(192, 45, 26);
  color: #fff;
}