.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-left: 1.5em;
    justify-content: space-between;
    background-color: rgb(192, 45, 26);
    color: #fff;
    padding-right: 1.5em;
  }

.button-container {
  align-items: center;
  display: flex;
}

.button-configuration {
  padding: 4px;
  background-color: rgb(192, 45, 26);
  color: #fff;
}