.container{
    padding: 1rem;   
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0.5rem;
}

.parentContainer {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.carouselStyles {
    width: 30%;
}