.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 300px;  /* change this to whatever you want */
    width: auto;
}

.imageHeight {
    height: 30rem;
}

.imageConfig {
    width: 100%;
    height: 100%;
    object-fit: contain;
}