.checkbox-container {
  padding-left: 16px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px; 
  cursor: pointer;
  user-select: none;
  color: black;
}

.custom-checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid lightgray;
  border-radius: 50%; 
}

.custom-checkbox input:checked ~ .checkmark:after {
  content: '✔';
  position: absolute;
  display: block;
  left: 6px;
  top: 1px;
  font-size: 18px;
  color: #69d2e7;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid lightgray;
}